<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> TV Stats - {{ show_name }} </title>

    <link rel="stylesheet" href='/static/searchstyle.css' />

	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
</head>
<body>
    <h1>{{ show_name }}</h1>
</body>
    <div class="overlaychart" id="overlaylinegraph">
    <script>
        var overlaygraph = {{overlay_plot | safe}};
        Plotly.plot('overlaylinegraph',overlaygraph,{});
    </script>
</div>
    <div class="sequentialchart" id="sequentiallinegraph">
    <script>
        var sequentalgraph = {{sequential_plot | safe}};
        Plotly.plot('sequentiallinegraph',sequentalgraph,{});
    </script>
</div>
</html>